@charset"utf-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700;800;900&display=swap');

// サイズ定義
$pc: 1000px;
$sp: 480px;

@mixin pc{
    @media (max-width:($pc)){
        @content;
    }
}
@mixin sp{
    @media (max-width:($sp)){
        @content;
    }
}

// フォント設定
@mixin mplus1p($weight: 400) {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: $weight;
    font-style: normal; 
}

// 各色の定義
$hover: #333 !default; /*ホバー時*/
$bg-color: #F4F5F7 !default; /*背景色*/
$font-color: #333 !default; /*文字色*/

// ホバー時の挙動定義
%hover{
    transition: all .8s;
    opacity: 0.5;
}

// container定義
%container{
    width: 100%;
    margin: 0 auto;
    @include sp{
        width: 100%;
    }
}

// section定義
%section-padding{
    padding: 50px 10%;
    @include sp{
        padding: 30px 3%;
    }
}

*{
    box-sizing: border-box;
}
html,
body{
    @include mplus1p;
    line-height: 1.5;
    background-color: $bg-color;
    margin: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
a:hover{
    @extend %hover;
}

/* 1em@48em(768px) から 2em@120em(1920px) に増加*/
@media (min-width: 48rem) {
    :root {
      font-size: calc(100% + ((1vw - .48rem) * 1.389));
      /* .48rem = viewportWidthMinimum /100 */
      /* 1.389rem = 100 * fontSizeDifference / viewportWidthDifference */
    }
  }
/* 120rem(1920px)を超えたらフォントサイズの増加は停止 */
@media (min-width: 120rem) {
    :root {
      font-size: 2rem;
    }
}

h1,h2,h3{
    margin: 0;
}

// 各タイトル
.section{

    &__title{
        text-align: center;
        font-size: 1rem;
        @include sp{
            font-size: 1.5rem;
        }

        &--description{
            text-align: center;
            font-size: 2rem;
            line-height: 1;
            margin-bottom: 30px;
            @include sp{
                font-size: 2.8rem;
                margin-bottom: 20px;
            }
        }
    }
}

.drawer{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    
    /* チェックボックスは非表示に */
    &__hidden{
        display: none;
    }
    
    /* ハンバーガーアイコンの設置スペース */
    &__open{
        display: flex;
        height: 60px;
        width: 60px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 100;/* 重なり順を一番上に */
        cursor: pointer;
        justify-content: center;
        background-color: $font-color;
        @include sp{
            width: 40px;
            height: 40px;
        }

        /* ハンバーガーメニューのアイコン */
        span{
            height: 3px;
            width: 25px;
            border-radius: 3px;
            background: #fff;
            transition: .5s;
            position: absolute;
            &:nth-child(1){top: 18px;}
            &:nth-child(2){top: 28px;}
            &:nth-child(3){top: 38px;}
            @include sp{
                width: 20px;
                &:nth-child(1){top: 11px;}
                &:nth-child(2){top: 19px;}
                &:nth-child(3){top: 27px;}
            }
        }
    }
    
    /* メニューのデザイン*/
    &__content{
        width: 20%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/* メニューを画面の外に飛ばす */
        z-index: 99;
        background: #333;
        transition: .5s;
        display: flex;
        justify-content: center;

        @include sp{
            width: 40%;
        }
    }
    
    // リストのデザイン
    &__list{
        list-style: none;
        margin-top: 100px;
        padding: 0;
        display: block;
    }
    &__item{
        padding-top: 0.5rem;
        a{
            text-decoration: none;
            color: #F4F5F7;
        }

        @include sp{
            padding-top: 1rem;
            a{
                font-size: 1.5rem;
            }
        }
    }

}
/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer__check:checked ~ .drawer{
    &__open{
        background-color: #1f1f1f;
        span{
            // 一番目の線（回転）
            &:nth-child(1){
                transform: translateY(9px) rotate(45deg);
            }
            // 二番目の線（透明にする）
            &:nth-child(2){opacity: 0;}
            // 三番目の線（回転）
            &:nth-child(3){transform: translateY(-11px) rotate(-45deg);}
            
            @include sp{
                &:nth-child(1){transform: translateY(7px) rotate(45deg);}
                &:nth-child(3){transform: translateY(-9px) rotate(-45deg);}
            }
        }
    } 
    &__content{
        left: 80%;/* メニューを画面に入れる */
        @include sp{
            left: 60%;
        }
    }
}

.main{
    height: 650px;
    background: url("../img/main_bg.jpg");
    background-size: 100% auto;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sp{
        background-size: cover;
    }

    &__txt{
        text-align: center;
        h1{
            font-size: 4rem;
            @include sp{font-size: 5rem;}
        }
        h3{
            font-size: 1.5rem;
        }
    }
}

.about{
    @extend %section-padding;
    
    &__container{
        display: flex;
        justify-content: center;
        @include sp{
            display: block;
        }
    }
    &__imgbox{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sp{
            width: 100%;
        }
    }
    &__img{
        background-image: url("../img/about.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        @include sp{
            width: 150px;
            height: 150px;
        }
    }
    &__txt{
        width: 50%;
        @include sp{width: 100%;}

        p{
            font-size: 0.8rem;
            margin: 0;
            padding-top: 0.5rem;
            font-weight: 400;
            @include sp{
                font-size: 1.2rem;
            }
            span{
                font-size: 1rem;
                padding-right: 1rem;
                font-weight: 500;
                @include sp{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.skill{
    @extend %section-padding;
    background-color: rgb(235, 235, 235);
    color: #1f1f1f;
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__box{
        width: 20%;
        @include sp{
            width: 30%;
        }
        ul{
            list-style: none;
            padding: 0;
            text-align: center;
        }
        li{
            padding: 0.3rem 0;
            &:nth-child(even){
                background-color: rgb(207, 180, 145);
            }
            @include sp{
                font-size: 1.2rem;
            }
        }
        .ttl{
            padding: 0;
            font-size: 1.2rem;
            padding: 0.5rem 0;
            display: block;
            border-bottom: 1px solid;
            @include sp{
                font-size: 1.4rem;
            }
        }
    }
}

.portfolio{
    @extend %section-padding;
    &__container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__box{
        width: 50%;
        margin-bottom: 50px;
        @include sp{
            width: 100%;
            padding-bottom: 2rem;
        }
    }
    &__img{
        width: 70%;
        display: flex;
        background-color: $hover;
        margin: 0 auto;
        a{
            width: 100%;
            height: 300px;
            background-size: cover;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #F4F5F7;
            @include sp{
                height: 150px;
            }
        }
        .img01{background-image: url("../img/portfolio_01.jpg");}
        .img02{background-image: url("../img/portfolio_02.jpg");}
        .img06{background-image: url("../img/portfolio_06.jpg");}
        .img07{background-image: url("../img/portfolio_07.jpg");}
        .img08{background-image: url("../img/portfolio_08.jpg");}
        .img09{background-image: url("../img/portfolio_09.jpg");}
        a.img{
            background-position: top center;
        }
    }
    &__title{
        text-align: center;
        @include sp{
            h4{
                margin: .5rem 0;
                font-size: 1.5rem;
            }
        }
    }
    &__itemBox{
        padding: 0 10%;
        margin: 1rem 0;
        @include sp{padding: 0 5%;}
        p{
            margin: 0;
            @include sp{
                font-size: 1.2rem;
            }
        }
    }
    &__item{
        font-size: 0.9rem;
    }
    &__txt{
        font-size: 0.7rem;
        padding-left: 2rem;
        span{
            display: block;
            color:#cc0000;
        }
    }
}

.practice{
    background-color: rgb(235, 235, 235);
    @extend %section-padding;
    &__container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__box{
        width: 50%;
        @include sp{
            width: 100%;
            padding-bottom: 2rem;
        }
    }
    &__img{
        width: 70%;
        display: flex;
        background-color: $hover;
        margin: 0 auto;
        a{
            text-align: center;
            width: 100%;
            height: 300px;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $font-color;
            @include sp{height: 150px;}
        }
        .img01{background-image: url("../img/practice_01.jpg");}
        .img02{
            background-color: #fff;
        }
    }
    &__title{
        text-align: center;
        @include sp{
            h4{margin: 0.5rem 0;}
        }
    }
    &__itemBox{
        padding: 0 10%;
        margin: 1rem 0;
        @include sp{padding: 0 5%;}
        p{
            margin: 0;
            @include sp{
                font-size: 1.2rem;
            }
        }
    }
    &__item{
        font-size: 0.9rem;
    }
    &__txt{
        font-size: 0.7rem;
        padding-left: 2rem;
    }
}

.footer{
    padding: 50px 10% 20px;
    @include sp{
        padding: 30px 10% 15px;
    }
    &__container{
        text-align: center;
        padding-bottom: 3rem;
        p{
            font-size: 0.8rem;
        }
        a{
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            @include sp{
                width: 50px;
                height: 50px;
            }
        }
    }
    span{
        display: block;
        text-align: center;
        font-size: 0.2rem;
    }
}