@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700;800;900&display=swap");
/*ホバー時*/
/*背景色*/
/*文字色*/
a:hover {
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0.5;
}

.about, .skill, .portfolio, .practice {
  padding: 50px 10%;
}

@media (max-width: 480px) {
  .about, .skill, .portfolio, .practice {
    padding: 30px 3%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background-color: #F4F5F7;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1em@48em(768px) から 2em@120em(1920px) に増加*/
@media (min-width: 48rem) {
  :root {
    font-size: calc(100% + ((1vw - .48rem) * 1.389));
    /* .48rem = viewportWidthMinimum /100 */
    /* 1.389rem = 100 * fontSizeDifference / viewportWidthDifference */
  }
}

/* 120rem(1920px)を超えたらフォントサイズの増加は停止 */
@media (min-width: 120rem) {
  :root {
    font-size: 2rem;
  }
}

h1, h2, h3 {
  margin: 0;
}

.section__title {
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .section__title {
    font-size: 1.5rem;
  }
}

.section__title--description {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .section__title--description {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
}

.drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  /* チェックボックスは非表示に */
  /* ハンバーガーアイコンの設置スペース */
  /* メニューのデザイン*/
}

.drawer__hidden {
  display: none;
}

.drawer__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  /* 重なり順を一番上に */
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
  /* ハンバーガーメニューのアイコン */
}

@media (max-width: 480px) {
  .drawer__open {
    width: 40px;
    height: 40px;
  }
}

.drawer__open span {
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
}

.drawer__open span:nth-child(1) {
  top: 18px;
}

.drawer__open span:nth-child(2) {
  top: 28px;
}

.drawer__open span:nth-child(3) {
  top: 38px;
}

@media (max-width: 480px) {
  .drawer__open span {
    width: 20px;
  }
  .drawer__open span:nth-child(1) {
    top: 11px;
  }
  .drawer__open span:nth-child(2) {
    top: 19px;
  }
  .drawer__open span:nth-child(3) {
    top: 27px;
  }
}

.drawer__content {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #333;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .drawer__content {
    width: 40%;
  }
}

.drawer__list {
  list-style: none;
  margin-top: 100px;
  padding: 0;
  display: block;
}

.drawer__item {
  padding-top: 0.5rem;
}

.drawer__item a {
  text-decoration: none;
  color: #F4F5F7;
}

@media (max-width: 480px) {
  .drawer__item {
    padding-top: 1rem;
  }
  .drawer__item a {
    font-size: 1.5rem;
  }
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer__check:checked ~ .drawer__open {
  background-color: #1f1f1f;
}

#drawer__check:checked ~ .drawer__open span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

#drawer__check:checked ~ .drawer__open span:nth-child(2) {
  opacity: 0;
}

#drawer__check:checked ~ .drawer__open span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 480px) {
  #drawer__check:checked ~ .drawer__open span:nth-child(1) {
    -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
  }
  #drawer__check:checked ~ .drawer__open span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
}

#drawer__check:checked ~ .drawer__content {
  left: 80%;
  /* メニューを画面に入れる */
}

@media (max-width: 480px) {
  #drawer__check:checked ~ .drawer__content {
    left: 60%;
  }
}

.main {
  height: 650px;
  background: url("../images/main_bg.jpg");
  background-size: 100% auto;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .main {
    background-size: cover;
  }
}

.main__txt {
  text-align: center;
}

.main__txt h1 {
  font-size: 4rem;
}

@media (max-width: 480px) {
  .main__txt h1 {
    font-size: 5rem;
  }
}

.main__txt h3 {
  font-size: 1.5rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .about__container {
    display: block;
  }
}

.about__imgbox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .about__imgbox {
    width: 100%;
  }
}

.about__img {
  background-image: url("../images/about.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

@media (max-width: 480px) {
  .about__img {
    width: 150px;
    height: 150px;
  }
}

.about__txt {
  width: 50%;
}

@media (max-width: 480px) {
  .about__txt {
    width: 100%;
  }
}

.about__txt p {
  font-size: 0.8rem;
  margin: 0;
  padding-top: 0.5rem;
  font-weight: 400;
}

@media (max-width: 480px) {
  .about__txt p {
    font-size: 1.2rem;
  }
}

.about__txt p span {
  font-size: 1rem;
  padding-right: 1rem;
  font-weight: 500;
}

@media (max-width: 480px) {
  .about__txt p span {
    font-size: 1.5rem;
  }
}

.skill {
  background-color: #ebebeb;
  color: #1f1f1f;
}

.skill__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__box {
  width: 20%;
}

@media (max-width: 480px) {
  .skill__box {
    width: 30%;
  }
}

.skill__box ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.skill__box li {
  padding: 0.3rem 0;
}

.skill__box li:nth-child(even) {
  background-color: #cfb491;
}

@media (max-width: 480px) {
  .skill__box li {
    font-size: 1.2rem;
  }
}

.skill__box .ttl {
  padding: 0;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  display: block;
  border-bottom: 1px solid;
}

@media (max-width: 480px) {
  .skill__box .ttl {
    font-size: 1.4rem;
  }
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__box {
  width: 50%;
}

@media (max-width: 480px) {
  .portfolio__box {
    width: 100%;
    padding-bottom: 2rem;
  }
}

.portfolio__img {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  margin: 0 auto;
}

.portfolio__img a {
  width: 100%;
  height: 300px;
  background-size: cover;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F4F5F7;
}

@media (max-width: 480px) {
  .portfolio__img a {
    height: 150px;
  }
}

.portfolio__img .img01 {
  background-image: url("../images/portfolio_01.jpg");
}

.portfolio__img .img02 {
  background-image: url("../images/portfolio_02.jpg");
}

.portfolio__title {
  text-align: center;
}

@media (max-width: 480px) {
  .portfolio__title h4 {
    margin: .5rem 0;
    font-size: 1.5rem;
  }
}

.portfolio__itemBox {
  padding: 0 10%;
  margin: 1rem 0;
}

@media (max-width: 480px) {
  .portfolio__itemBox {
    padding: 0 5%;
  }
}

.portfolio__itemBox p {
  margin: 0;
}

@media (max-width: 480px) {
  .portfolio__itemBox p {
    font-size: 1.2rem;
  }
}

.portfolio__item {
  font-size: 0.9rem;
}

.portfolio__txt {
  font-size: 0.7rem;
  padding-left: 2rem;
}

.portfolio__txt span {
  display: block;
  color: #cc0000;
}

.practice {
  background-color: #ebebeb;
}

.practice__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__box {
  width: 50%;
}

@media (max-width: 480px) {
  .practice__box {
    width: 100%;
    padding-bottom: 2rem;
  }
}

.practice__img {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  margin: 0 auto;
}

.practice__img a {
  text-align: center;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #333;
}

@media (max-width: 480px) {
  .practice__img a {
    height: 150px;
  }
}

.practice__img .img01 {
  background-image: url("../images/practice_01.jpg");
}

.practice__img .img02 {
  background-color: #fff;
}

.practice__title {
  text-align: center;
}

@media (max-width: 480px) {
  .practice__title h4 {
    margin: 0.5rem 0;
  }
}

.practice__itemBox {
  padding: 0 10%;
  margin: 1rem 0;
}

@media (max-width: 480px) {
  .practice__itemBox {
    padding: 0 5%;
  }
}

.practice__itemBox p {
  margin: 0;
}

@media (max-width: 480px) {
  .practice__itemBox p {
    font-size: 1.2rem;
  }
}

.practice__item {
  font-size: 0.9rem;
}

.practice__txt {
  font-size: 0.7rem;
  padding-left: 2rem;
}

.footer {
  padding: 50px 10% 20px;
}

@media (max-width: 480px) {
  .footer {
    padding: 30px 10% 15px;
  }
}

.footer__container {
  text-align: center;
  padding-bottom: 3rem;
}

.footer__container p {
  font-size: 0.8rem;
}

.footer__container a {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .footer__container a {
    width: 50px;
    height: 50px;
  }
}

.footer span {
  display: block;
  text-align: center;
  font-size: 0.2rem;
}
/*# sourceMappingURL=style.css.map */